@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gluten:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Rubik+Iso&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
header h1 a {display: flex;
    color: crimson;
    font-size: 3rem;
    position: fixed;
    background-color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
}
header ul{background-color: green;
    display: flex;
    justify-content: flex-end;
    list-style: none;}
li{padding: 1rem;}

a{color: whitesmoke;
font-size: 2rem;}


.index img{ border-radius: 23px;}


.index main section h1{text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;}


h1{ text-decoration: underline;
    font-family: 'Sedgwick Ave Display', cursive;

color: black;
font-size: 3rem;}
footer{
text-align: center;
background-color: green;}
footer h1{ color: gray;}
main{ 
    background-color: rgb(179, 99, 179);     
    }

img { border-radius: 100%;
}

p{overflow: hidden;
font-size: 25px;
font-family: 'Satisfy', cursive;
}


    .Fnaf p {
box-sizing: border-box 100% 30rem;
border: solid black;
font-size: 2rem}


.lol{display: grid;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,22%);
    grid-template-areas: 
"titulo titulotrailer  titulotrailer titulotrailer"
"foto trailer trailer trailer "
"parrafo parrafo parrafo parrafo "
"parrafo parrafo parrafo parrafo"
"parrafo parrafo parrafo parrafo";
}
.lol:first-child{grid-area: titulo;}
.lol:nth-child(2){grid-area: foto;}
.lol:nth-child(4){grid-area: titulotrailer;}
.lol:nth-child(5){grid-area: trailer;}
    .lol p {grid-area: parrafo;
        align-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
font-size: 2rem
}

.arcane{}
.arcane p {
    box-sizing: border-box 100% 50rem;
    border: solid black;}


    .RE p {   
        box-sizing: border-box 100% 50rem;
        border: solid black;}


.valorant p {
    box-sizing: border-box 100% 50rem;
    border: solid black;}


.pelifnaf p {
    box-sizing: border-box 100% 30rem;
    border: solid black;

font-size: 2rem}