@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gluten:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Rubik+Iso&family=Satisfy&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=Stint+Ultra+Condensed&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
header h1 a {display: flex;
    color: crimson;
    font-size: 3rem;
    position: fixed;
    background-color: transparent;
    font-family: 'Sedgwick Ave Display', cursive;
}
header ul{background-color: green;
    display: flex;
    justify-content: flex-end;
    list-style: none;}
li{padding: 1rem;}

a{color: whitesmoke;
font-size: 2rem;}


.index img{ border-radius: 23px;}


.index main section h1{text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;}


h1{ text-decoration: underline;
    font-family: 'Sedgwick Ave Display', cursive;

color: black;
font-size: 3rem;}
footer{
text-align: center;
background-color: green;}
footer h1{ color: gray;}
main{ 
    background-color: rgb(179, 99, 179);     
    }

img { border-radius: 100%;
}

p{overflow: hidden;
font-size: 25px;
font-family: 'Satisfy', cursive;
}


    .Fnaf p {
box-sizing: border-box 100% 30rem;
border: solid black;
font-size: 2rem}


.lol{display: grid;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,22%);
    grid-template-areas: 
"lol1 lol1  loltrailer loltrailer"
"lol1 lol1 loltrailer loltrailer"
"parrafo parrafo parrafo parrafo "
"parrafo parrafo parrafo parrafo"
"parrafo parrafo parrafo parrafo";
}
.lol1{grid-area: lol1;}
.loltrailer{grid-area: loltrailer;}
    .lol p {grid-area: parrafo;
        align-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
font-size: 2rem
}

.arcane{display: grid;
    padding-bottom: 7rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,22%);
    grid-template-areas: 
    "arcane1 arcane1 arcanetrailer arcanetrailer "
    "arcane1 arcane1 arcanetrailer arcanetrailer "
    "parrafo parrafo parrafo parrafo  "
    "parrafo parrafo parrafo parrafo  "
    "parrafo parrafo parrafo parrafo  "
    
}
.arcane1{grid-area: arcane1;}
.arcanetrailer{grid-area: arcanetrailer;}
.arcane p {grid-area: parrafo;
    box-sizing: border-box 100% 50rem;
    align-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
        
}


    .RE p {   
        box-sizing: border-box 100% 50rem;
        }

.valorant{display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,22%);
    grid-template-areas: 
    "valorant valorant valoranttrailer valoranttrailer"
    "valorant valorant valoranttrailer valoranttrailer"
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo"
}
.valorant1{grid-area: valorant; padding-bottom: 2rem;}
.valoranttrailer{grid-area: valoranttrailer;}
.valorant p {grid-area: parrafo;
    box-sizing: border-box 100% 50rem;
    }


.pelifnaf p {
    box-sizing: border-box 100% 30rem;
    

font-size: 2rem}

.RES1{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re1{grid-area: re;}
.retrailer1{grid-area: retrailer;}
.RES1 p{grid-area: parrafo;font-size: 2rem;}

.RES2{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re2{grid-area: re;}
.retrailer2{grid-area: retrailer;}
.RES2 p{grid-area: parrafo;font-size: 2rem;}

.RES3{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo  "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re3{grid-area: re;}
.retrailer3{grid-area: retrailer;}
.RES3 p{grid-area: parrafo;font-size: 3rem;}

.RES4{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re4{grid-area: re;}
.retrailer{grid-area: retrailer;}
.RES4 p{grid-area: parrafo;font-size: 3rem;}
.RES5{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re5{grid-area: re;}
.retrailer5{grid-area: retrailer;}
.RES5 p{grid-area: parrafo;font-size: 3rem;}
.RES6{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re6{grid-area: re;}
.retrailer6{grid-area: retrailer;}
.RES6 p{grid-area: parrafo;font-size: 3rem;}
.RES7{display: grid;
    height: 100%;
    
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re7{grid-area: re;}
.retrailer7{grid-area: retrailer;}
.RES7 p{grid-area: parrafo;font-size: 3rem;}
.RES8{display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "re re retrailer retrailer "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "
    "parrafo parrafo parrafo parrafo "}
.re8{grid-area: re;}
.retrailer8{grid-area: retrailer;}
.RES8 p{grid-area: parrafo;font-size: 3rem; }